<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style>

  </style>
      
</head>
  <body>  
    <div id="get_top_profiles ">
      <form action="/get_top_profiles" method="post" >
        <div id="get_top_profiles">
          <div style="text-align:center">
            <h2>List Of Highest Rated Users</h2>
            <p>Click User To See Their Highest Ranked Images</p>
          </div>
          <div = class="">
          {% for x in range(3) %}
            {{profile_list[x]}}
            {{rating_list[x]}}
            {{best_image[x]}}
          {% endfor %}
        </div>
      </form>
    </div>
  </body>    
</html>
