{% extends "layout.html" %}  
{% block title %}Profile Picture Voting{% endblock %}
{% block page %}Profile Picture Voting{% endblock %}
{{ super() }}


    {% block content %}

    <style>
    body{
      background-color: #1651a4 ;
    }
  </style>

    <div id="get_top_profiles ">
        <div id="get_top_profiles">
          <div style="text-align:center">
            <h3  class="white-text">Highest Rated Profiles</h3> 
            <div style="margin-bottom:20px;" class="divider"></div>
            <br>
          </div> 
          {% if profile_list %}
          {% for x in range(3) %}
          <div class="row center">
            <div class="col s8 offset-s2">
              <div class="card">
                <div class="card-image">
                   
                {% if best_image[x] != "No Images" %}
                   <img src="{{best_image[x].url}}">
               {% endif %}
                </div>
                <div class="card-action #039be5 light-blue darken-1">
                </div>
                        <div class="card-content">     
                    <h4>User Profile: {{profile_list[x]}}</h4>
                    <h4>User Rating: {{rating_list[x]}}</h4>
                </div>               
                
              </div>              
            </div>
          </div>  
          {% endfor %}       
        </div>
        <div class = "center"> 
          <a href="/viewprofiles" style="margin-top: 2%; width:20% " class="#388e3c green darken-2 waves-effect waves-light btn"><i class="material-icons left">arrow_back</i>Return to Feed</a>      
        </div>
    </div>
    {% else %}
      <h4>Not enough users</h4>
    {% endif %}
    {% endblock %}
