{% extends "layout.html" %}
{% block title %}Profile Picture Voting{% endblock %}
{% block page %}Profile Picture Voting{% endblock %}
{{ super() }}


    {% block content %}  
      <div id="imageListing">    
        <div id="view_images"> 
          <div style="text-align:center">
            <h2>Image Gallery</h2>
          </div>
          
          <!-- to place jinja2 for loop -->
          <section class = "row ">

            {% for x in range(count) %}

              <div >
                <div class = "wrapper">
                    {% set ranking = rankings[x] %}
                    <div >IMAGE RANK:{{ranking}}</div>


                    </div>
                    <div class = "info">
                      {% set url = images[x].url | string() %}

                       <img src="{{url}}" class="responsive-img" >
                  </div>

                  <form action="/deleteImage/{{images[x].id}}" method="post">
                    <div style="margin-bottom:3%">
                     <button type="submit" value="{{images[x].id}}" class="waves-effect waves-light btn">Delete Image</button>
                    </div>
                    </form>
                </div>
              </div>
            {% endfor %}
            
          </section> 
        </div>
        <div class = "center"> 
        <a href="/viewprofiles" style="margin-top: 2%; width:20% " class="#388e3c green darken-2 waves-effect waves-light btn"><i class="material-icons left">arrow_back</i>Return to Feed</a>      
      </div>
    </div> 
      
    {% endblock %}