{% extends "layout.html" %}
{% block title %}Profile Picture Voting{% endblock %}
{% block page %}Profile Picture Voting{% endblock %}
{{ super() }}


    {% block content %}

    <style>
    body{
        background-color: #1651a4 ;
      }
    </style>

<div class="row">
<div style="margin-top:3%;" class="col s6 offset-s3">
    <div class="card">
      <div class="card-content #039be5 light-blue darken-1 white-text">
        <span class="card-title center">{{user.username}} ID # {{user.id}}</span>
    </div>

    <div class="row">
        <div class="col s4 offset-s4">
        <div class="card-image">
            <img src="/static/profile.png"  ;>
        </div>
        </div>
    </div>
       
      
      
      <div style="background-color: white"class="card-action center">
        
        <h5>Current Average Profile Rating: {{rating_info}}</h5>
        
      </div>
    </div>
  </div>

</div>  <!--end row-->








    {% endblock %}