{% extends "layout.html" %}
{% block title %}Profile Picture Voting{% endblock %}
{% block page %}Profile Picture Voting{% endblock %}
{{ super() }}


    {% block content %}

    <style>
    body{
        background-color: #1651a4 ;
      }

      .rate {
    margin-right: 30%;
    height: 46px;
    padding: 0 10px;
}
.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#ccc;
}
.rate:not(:checked) > label:before {
    content: '★ ';
}
.rate > input:checked ~ label {
    color: #ffc700;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}
    </style>

<div class="row">
<div style="margin-top:3%;" class="col s6 offset-s3">
    <div class="card">
      <div class="card-content #039be5 light-blue darken-1 white-text">
        <span class="card-title center">{{user.username}} ID # {{user.id}}</span>
    </div>

    <div class="row">
        <div class="col s4 offset-s4">
        <div class="card-image">
            <img src="/static/profile.png"  ;>
        </div>
        </div>
    </div>
       
      
      
      <div style="background-color: white"class="card-action center">
        
        <h5>Current Average Profile Rating: {{rating_info}}</h5>
        <h5>Add New Rating:</h5> 
        
        <form action="/addRating/{{user.id}}" method="post">
        <div class="rate">
          <input type="radio" id="star5" name="score" value="5" />
          <label for="star5" title="text">5 stars</label>
          <input type="radio" id="star4" name="score" value="4" />
          <label for="star4" title="text">4 stars</label>
          <input type="radio" id="star3" name="score" value="3" />
          <label for="star3" title="text">3 stars</label>
          <input type="radio" id="star2" name="score" value="2" />
          <label for="star2" title="text">2 stars</label>
          <input type="radio" id="star1" name="score" value="1" />
          <label for="star1" title="text">1 star</label>
        </div>
        
        <button style="margin-top:2%"
        class=" #039be5 light-blue darken-1 btn waves-effect waves-light" type="submit" name="action">Add Rating</button>

      </form>
        
        
        
      </div>  <!--Closes card action center-->
    </div>
  </div>

</div>  <!--end row-->








    {% endblock %}